<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dmais Alimentação Saudável</title>
    <link rel="stylesheet" href="/static/style/pedidos/atualiza.css">
</head>
<body>
    <header>
        <img  src="../static/imagens/Logo.jpeg" alt="" width="100" height="100">
            <h1>Sistema Integrado de Gerenciamento</h1>
    </header>

    <section>
        <fieldset class="menu">
            <a href="cadastrop"><img class="fig" src="../static/imagens/anotar.jpg" alt="" ></a>
            <a href="consultap"><img class="fig" src="../static/imagens/pesquisar.png" alt=""></a>
            <a href="atualizap"><img class="fig" src="../static/imagens/atualizar.jpg" alt="" ></a>
            <a href="excluip"><img class="fig" src="../static/imagens/excluir.png" alt="" ></a>
            <a href="home"><img class="fig" src="../static/imagens/home.jpg" alt="" ></a>
        </fieldset>
        <section>
            <fieldset class="cad">
                <form action="pedido_atualizado" method="post">
                <h2> Gestão de Pedidos - Atualização</h2>
                    <label for="" class="lentrada" id="lid">ID</label>
                    <label for="" class="lentrada" id = lnome>Nome do Cliente</label>
                    <label for="" class="lentrada" id="lcpf">CPF/CNPJ</label>
                    <label for="" class="lentrada" id="lcelular">Celular</label>
                    <label for="" class="lentrada" id="lemail">E-mail</label>
                   
                    <p>
                        <input type="text" name="id" id="id" class="entrada" readonly>
                        <select name="nome" id="nome" class="entrada" onchange="carrega_dadosp()" >
                            <option value=""></option>
                            {% for c in clientes %}
                            <option value="{{ c }}">{{ c}}</option>
                        {% endfor %}  
                        </select>
                        </select>
                        <input type="text" name="cpf"  id="cpf" class="entrada" readonly>
                        <input type="tel" name="celular"  id="celular" class="entrada" readonly>
                        <input type="email" name="email"  id="email" class="entrada" readonly>
                    </p>
                    <p class="p2"> 
                        <label for="" class="lentrada" id="lcep">CEP</label>
                        <label for=""class="lentrada"  id="lendereco">Endereço</label>
                        <label for=""class="lentrada" id="lnum">Nº</label>
                        <label for=""class="lentrada" id="lbairro">Bairro</label>
                        <label for=""class="lentrada" id="lcidade">Cidade</label>
                        <label for=""class="lentrada" id="lentrega">Forma de Entrega</label>
                        <label for=""class="lentrada" id="ldentrega">Entrega em</label>
                    </p>
                    <p class="p3">
                        <input type="text" name="cep" id="cep"  class="entrada" readonly>
                        <input type="text" name="endereco" id="endereco"  class="entrada" readonly>
                        <input type="text" name="num" id="num"  class="entrada" readonly>
                        <input type="text" name="bairro" id="bairro"  class="entrada" readonly>
                        <input type="text" name="cidade" id="cidade"  class="entrada" readonly>
                        <input name="entrega" id="entrega" class="entrada" readonly>
                        <input type="text" name="dentrega"  id="dentrega" class="entrada" readonly>
                    </p>

                    <p class="p2">
                                <p>
                                    <label class="lentrada" for="" id="lquant">Quant.</label>
                                    <label class="lentrada" for="" id="ldescricao">Descrição</label>
                                    <label for="" class="lentrada" id="lstatus">Situação do Pedido</label>
                                    <label for="" class="lentrada" id="ldpedido">Data do Pedido</label>
                   
                                    <label for="" class="lentrada" id="lsituacao">Atualizar Status</label>
                                </p>
                                <p class="p3">
                                    <input type="text" name="quant" id="quant" class="entrada" >
                                    <input name="descricao" id="descricao" class="entrada" readonly>
                                    <select  name="status"  id="status" class="entrada" onchange="carrega_pedidos()"> 
                                        <option value="0"></option>
                                        <option value="1">Pedido em Aberto</option>
                                        <option value="2">Pedido Entregue</option>
                                    </select>
                                    
                                    <select  name="spedido"  id="spedido" class="entrada" onchange="carrega_pedido()">
                                        <option value=""></option>
                                     </select>
                               
                                     <select  name="astatus"  id="astatus" class="entrada" > 
                                        <option value="0"></option>
                                        <option value="1">Pedido em Aberto</option>
                                        <option value="2">Pedido Entregue</option>
                                    </select>
                                    
                                </p>
                            
                    </p>
                    <p class="p4">
                        <textarea name="observa" id="observa"></textarea>
                        <button type="submit" id="confirma"></button>
                    </p>
                </form>
            </fieldset>
        </section>

    </div>
    </section>

 <script src="/static/scripts/codigos.js"></script>
</body>
</html>