*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px ;
}

header{
    display: flex;
    align-items: center;
    background-color: darkgreen;
}

h1{
    font-size: 60px;
    color: whitesmoke;
    margin-left: 300px;
    color: whitesmoke;
}
h2{
    font-size: 60px;
    color: whitesmoke;
    margin-left: 300px;
    color: darkgreen;
    margin-top: -20px;
    margin-bottom: 30px;
}
.menu{
    height: 790px;
    width: 50px;
    margin-left: 0px;
    border-color: seagreen;
    border-radius: 5px;
    border-left: none;
    margin-top: px;
    
}
.fig{
    margin-top: 20px;
    padding: 15px;
    width: 100px;
    height: 100px;
}
section{
    display: flex ;
}
.cad{
    margin-left: 20px;
    border-color: seagreen;
    border-radius: 5px;
    padding-top: 50px;
    width: 1650px;
}
.lentrada{
    margin-left: 15px;
    color: darkgreen;
    font-weight: 700;
 
}
.entrada{
    border-radius: 3px;
    margin-top:  2px;
    margin-left: 15px;
    height: 20px;
    font-size: 16px;

}
#id{
    width: 45px;
}
#lnome{
    margin-left: 50px;
}
#nome{
    width: 400px;
    height: 25px;
    margin-top: 3px;
}
#email{
    width: 250px;
}
#lcpf{
    margin-left: 290px;
}
#lnascimento{
    margin-left: 140px;
}
#lcelular{
    margin-left: 60px;
}
#lemail{
    margin-left: 165px;
}
#linstagram{
    margin-left: 225px;
}
#instagram{
    width: 200px;
}
.p2{
    margin-top: 30px;
}
#cep{
    width: 100px;
    text-align: center;
}
#lendereco{
    margin-left: 90px;  
}
#endereco{
    width: 450px;
}
#lnum{
    margin-left: 400px;
}
#num{
    width: 80px;
    text-align: center;
}
#lbairro{
    margin-left: 85px;
}
#bairro{
    width: 350;
}
#lcidade{
    margin-left: 170px;
}
#lcadastro{
    margin-left: 165px;
}
.p4{
    margin-top: 50px;
    margin-left: 15px;
}
#observa{
    border-radius: 5px;
    width: 1000px;
    height: 400px;
    font-size: 20px;
    border-color: darkgreen;
}
#confirma{
    margin-left: 300px;
    width: 200px;
    height: 200px;
}