<configuration>
  <system.webServer>
    <handlers>
      <add name="pythonHandler" 
           path="*" 
           verb="*" 
           modules="FastCgiModule" 
           scriptProcessor="D:\home\python364x86\python.exe|D:\home\python364x86\Scripts\wfastcgi.py"
           resourceType="Unspecified" />
    </handlers>
    <rewrite>
      <rules>
        <rule name="Static Files" stopProcessing="true">
          <match url=".*" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" />
          </conditions>
          <action type="Rewrite" url="index.py" />
        </rule>
        <rule name="Configure Python" stopProcessing="true">
          <match url=".*" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="wsgi.py" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>

