<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dmais Alimentação Saudável</title>
    <link rel="stylesheet" href="../static/style/login.css">
</head>
<body>
    <fieldset>
        <form method="post" action="home"> 
          <h1>Acesso ao Sistema</h1> 
        <p>
            <input id="usuario" class="entrada" name="usuario" type="text" placeholder="digite seu usuário" autocomplete="usuario">
          </p>
          <p> 
            <input id="senha" class="entrada" name="senha"  type="password" placeholder="digite sua senha" > 
          </p>
          <p> 
            <input  id="logar" type="submit" value="Entrar" /> 
          </p>
     
        </form>
     </fieldset> 
</body>
</html>