*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px ;
}

header{
    display: flex;
    align-items: center;
    background-color: red;
}

h1{
    font-size: 60px;
    color: whitesmoke;
    margin-left: 300px;
    color: whitesmoke;
}

h2{
    font-size: 60px;
    color: whitesmoke;
    margin-left: 300px;
    color: red;
    margin-top: -20px;
    margin-bottom: 30px;
}
.menu{
    height: 790px;
    width: 50px;
    margin-left: 0px;
    border-color: red;
    border-radius: 5px;
    border-left: none;
    margin-top: px;
    
}
.fig{
    margin-top: 20px;
    padding: 15px;
    width: 100px;
    height: 100px;
}
section{
    display: flex ;
}
.cad{
    margin-left: 20px;
    border-color: red;
    border-radius: 5px;
    padding-top: 50px;
    width: 1650px;
}
.lentrada{
    margin-left: 15px;
    color: red;
    font-weight: 700;
 
}
.entrada{
    border-radius: 3px;
    margin-top:  2px;
    margin-left: 15px;
    height: 20px;
    font-size: 16px;
    border-style:solid;
}
#lnome{
    margin-left: 55px;
}
#nome{
    width: 400px;
    height: 25px;
}
#email{
    width: 300px;
}
#lcpf{
    margin-left: 290px;
}
#lnascimento{
    margin-left: 140px;
}
#lcelular{
    margin-left: 140px;
}
#lemail{
    margin-left: 165px;
}
#linstagram{
    margin-left: 275px;
}
#instagram{
    width: 250px;
}
.p2{
    margin-top: 30px;
}
#cep{
    width: 100px;
    text-align: center;
}
#lendereco{
    margin-left: 90px;  
}
#endereco{
    width: 450px;
}
#lnum{
    margin-left: 400px;
}
#num{
    width: 80px;
    text-align: center;
}
#lbairro{
    margin-left: 85px;
}
#lcidade{
    margin-left: 170px;
}
#lentrega{
    margin-left: 165px;
}
.p4{
    margin-top: 50px;
    margin-left: 15px;
}
#observa{
    border-radius: 5px;
    width: 1000px;
    height: 300px;
    font-size: 20px;
    border-color: red;
}
#confirma{
    margin-left: 300px;
    width: 220px;
    height: 220px;
    cursor: pointer;
    background-image: url(/static/imagens/excluir.png);
    border: none;
}
#id{
    width: 50px;
}
#ldentrega{
    margin-left: 85px;
}
#entrega{
    height: 20px;
}
#descricao{
    width: 400px;
    height: 20px;
    margin-top: 5px;
    border-style: solid;
}
#ldescricao{
    margin-left: 23px;
}
#quant{
    width: 50px;
    
}
#lanota{
    margin-left: 337px;
}
#anota{
    width: 500px;
}
#adiciona{
    margin-left: 2px;;
}
.p3{
    align-items: center;
    
}

#bad{
    display: inline;
}
#spedido{
    width: 150px;
    height: 25px;
}
#dpedido{
    margin-left: 40px;
}
#lstatus{
    margin-left: 345px;

}
#status{
    height: 25px;
}
#ldpedido{
    margin-left: 20px;
}
#lsituacao{
    margin-left: 48px;
}
#astatus{
    height: 25px;
}