<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dmais Alimentação Saudável</title>
    <link rel="stylesheet" href="/static/style/clientes/clientes.css">
</head>
<body>
    <header>
        <img  src="../static/imagens/Logo.jpeg" alt="" width="100" height="100">
            <h1>Sistema Integrado de Gerenciamento</h1>
    </header>

    <section>
        <fieldset class="menu">
            <a href="cadastro"><img class="fig" src="../static/imagens/cadastrar.png" alt="" ></a>
            <a href="consulta"><img class="fig" src="../static/imagens/pesquisar.png" alt=""></a>
            <a href="atualiza"><img class="fig" src="../static/imagens/atualizar.jpg" alt="" ></a>
            <a href="exclui"><img class="fig" src="../static/imagens/excluir.png" alt="" ></a>
            <a href="home"><img class="fig" src="../static/imagens/home.jpg" alt="" ></a>
        </fieldset>
        <section>
            <h2> Gestão de Clientes</h2>
        </section>

    </div>
    </section>

 
</body>
</html>