<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dmais Alimentação Saudável</title>
    <link rel="stylesheet" href="/static/style/clientes/exclui.css">
</head>
<body>
    <header>
        <img  src="../static/imagens/Logo.jpeg" alt="" width="100" height="100">
            <h1>Sistema Integrado de Gerenciamento</h1>
    </header>

    <section>
        <fieldset class="menu">
            <a href="cadastro"><img class="fig" src="../static/imagens/cadastrar.png" alt="" ></a>
            <a href="consulta"><img class="fig" src="../static/imagens/pesquisar.png" alt=""></a>
            <a href="atualiza"><img class="fig" src="../static/imagens/atualizar.jpg" alt="" ></a>
            <a href="exclui"><img class="fig" src="../static/imagens/excluir.png" alt="" ></a>
            <a href="home"><img class="fig" src="../static/imagens/home.jpg" alt="" ></a>
        </fieldset>
        <section>
            <fieldset class="cad">
                <h2> Gestão de Clientes - Exclusão</h2>
                <form action=""></form>
                    <label for="" class="lentrada" id="lid">ID</label>
                    <label for="" class="lentrada" id="lnome">Nome do Cliente</label>
                    <label for="" class="lentrada" id="lcpf">CPF/CNPJ</label>
                    <label for="" class="lentrada" id="lnascimento">Nascimento</label>
                    <label for="" class="lentrada" id="lcelular">Celular</label>
                    <label for="" class="lentrada" id="lemail">E-mail</label>
                    <label for="" class="lentrada" id="linstagram">Instagram</label>
                    <p>
                        <input type="text" name="id" id="id" class="entrada">
                        <select name="nome" id="nome", class="entrada" onclick="dados()">
                        {% for c in clientes %}
                            <option value="{{ c }}">{{ c }}</option>
                        {% endfor %}  
                        </select>
                        <input type="text" name="cpf"  id="cpf" class="entrada">
                        <input type="date" name="nascimento"  id="nascimento" class="entrada">
                        <input type="tel" name="celular"  id="celular" class="entrada">
                        <input type="email" name="email"  id="email" class="entrada">
                        <input type="text" name="instagram"  id="instagram" class="entrada">
                    </p>
                    <p class="p2"> 
                        <label for="" class="lentrada" id="lcep">CEP</label>
                        <label for=""class="lentrada"  id="lendereco">Endereço</label>
                        <label for=""class="lentrada" id="lnum">Nº</label>
                        <label for=""class="lentrada" id="lbairro">Bairro</label>
                        <label for=""class="lentrada" id="lcidade">Cidade</label>
                       <!-- <label for=""class="lentrada" id="lcadastro">Data Cadastro</label>-->
                    </p>
                    <p class="p3">
                        <input type="text" name="cep" id="cep"  class="entrada">
                        <input type="text" name="endereco" id="endereco"  class="entrada">
                        <input type="text" name="num" id="num"  class="entrada">
                        <input type="text" name="bairro" id="bairro"  class="entrada">
                        <input type="text" name="cidade" id="cidade"  class="entrada">
                        <!--<input type="text" name="dcadastro" id="dcadastro"  class="entrada">-->
                    </p>
                    <p class="p4">
                        <textarea name="observa" id="observa"></textarea>
                        <img src="../static/imagens/confirmar.png" alt="" id="confirma">
                    </p>
            </fieldset>
        </section>

    </div>
    </section>

 
</body>
</html>